@charset "utf-8";

@import
	'rouge';


// responsive breakpoint widths (≥)
// mobile-first
$small-breakpoint: 600px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$xlarge-breakpoint: 1200px;

@mixin xlarge {
	@media screen and (min-width: #{$xlarge-breakpoint}) {
		@content;
	}
}

@mixin large {
	@media screen and (min-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin medium {
	@media screen and (min-width: #{$medium-breakpoint})  {
		@content;
	}
}

@mixin small {
	@media screen and (min-width: #{$small-breakpoint}) {
		@content;
	}
}

@mixin xsmall {
	@media screen and (max-width: #{$small-breakpoint}) {
		@content;
	}
}

$base-font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
$code-font-family: 'Fira Code', monospace;

// ligature support
@supports (font-variation-settings: normal) {
	$code-font-family: 'Fira Code VF', monospace;
}

$base-font-size: 11pt;
$base-font-weight: 400;
$base-line-height: 1.5;

$background-color: #1a1623;
$shadow-color: #0c0b13;
$pink: #ff6ec9;
$purple: #5e4a85;
$purple-dimmed: #4a4262;
$yellow: #ffd500;
$orange: #dd6718;
$blue: #53d2e2;
$green: #00e272;
$green-dimmed: #206640;

$text-color: #ebeaec;

/***************************/

code, pre, .monospaced {
	font-family: $code-font-family;
	font-size: $base-font-size;
}

code {
	padding: 3px 6px;
	background-color: $shadow-color;
	border-radius: 5px;
}

pre {
	padding: 0.8rem 1rem;
	margin: 10px 0;
	word-wrap: normal;
	background-color: $shadow-color;
	border: solid 1px $purple;
	border-radius: 5px;

	overflow: scroll;

	> code {
		padding: 0;
		word-break: normal;
		white-space: pre;
		background: transparent;
	}
}

.highlight {
	margin: 10px 0;
	border-radius: 5px;

	pre {
		margin-bottom: 0;
		word-break: normal;
	}
}

::selection {
	background-color: $purple-dimmed;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 720px;
	min-width: 360px;
	font-family: $base-font-family;
	font-size: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	color: white;
	background-color: black;
	position: relative;
	overflow-y: scroll;
	display: flex;
	box-sizing: border-box;
	padding: 20px 30px;
}

@include small {
	body {
		padding: 30px 40px;
	}
}

@include medium {
	body {
		padding-left: 20px;
	}
}

.wrapper {
	display: flex;
	gap: 25px;
	flex-direction: column;
	flex: 1;
	width: 100%;
}

@include medium {
	.wrapper {
		flex-direction: row;
		gap: 15px;
	}
}

.window {	 
	box-shadow: $shadow-color 15px 15px 0 0;
	height: 100%;
	width: 100%;
	flex: 2;
	overflow: hidden;
	border-radius: 8px;
	display: flex;
	position: relative;
	align-items: stretch;
	flex-direction: column;
	transition: 0.2s ease;
}

.window__content {
	display: flex;
	flex: 1 1 auto;
	gap: 5px;
	box-sizing: border-box;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	color: $text-color;
}

@include large {
	.window__content {
		flex-direction: row;
		overflow-y: hidden;
	}
}


/*
* WINDOW TAB BAR
*/

.tabbar {
	border: $shadow-color solid 1px;
	background-color: $purple;
	height: 28px;
	width: 100%;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	flex: 0 0 auto;
}

.tabbar__title {
	flex: 1 1 auto;
	text-align: center;
	margin-top: 4px;
	padding-left: 30px;
	text-overflow: ellipsis;

	#breadcrumbs {
		height: 100%;
		overflow: hidden;
	}
}


.tabbar__button {
	color: white;
	border-left: $shadow-color solid 1px;
	border-right: $pink solid 1px;
	border-top: $shadow-color solid 1px;
	border-bottom: $shadow-color solid 1px;
	background-color: $pink;
	height: 100%;
	width: 30px;
	padding: 0;
	font-size: 11pt;
	text-align: center;
	cursor: default;
	box-sizing: content-box;
	transition: 0.1s;
	flex: 0 0 auto;
}

.tabbar__button:last-of-type {
	border: $shadow-color solid 1px;
	border-right: $shadow-color solid 1px;
}

.tabbar__button:hover {
	cursor: pointer;
	opacity: 0.6;
}

/* don't do hover feedback for close button as it is decorative */
.tabbar__button--close:hover {
	cursor: default;
	opacity: 1.0;
}

@include medium {
	.tabbar__button--maximize {
		display: block;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

h1 {
	font-size: 2rem;
	border-bottom: 1px $purple solid;
	margin-bottom: 1.2rem;
}

h2 {
	font-size: 1.6rem;
	border-bottom: 1px $purple solid;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1.2rem;
	font-style: italic;
}

ul {
	position: relative;
	margin-left: -10px;
}

li {
	margin-bottom: 3px;
}

li::before, li::marker {
	color: $purple;
}

li.task-list-item {
	list-style-type: none;
	text-indent: -23px;
}

hr {
	color: $purple;
	border: 1px solid $purple;
	width: 100%;
}

.window__sidebar {
	height: max-content;
	width: 100%;
	padding: 20px 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 0.3s ease;
	border-top: 1px $purple solid;
	border-left: none;
	flex: 0 0 auto;
	opacity: 1;
	gap: 10px;
	text-align: center;	
}

@include large {
	.window__sidebar {
		text-align: left;
		height: 100%;
		width: 185px;
		border-top: none;
		border-left: 1px $purple solid;	
	}
}

.window__breadcrumbs {
	flex: 0 0 auto;
}

.sidebar__nav {
	width: 100%;

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		margin-top: 0.5rem;
		margin-bottom: 0.3rem;
	}

	h1 {
		font-size: 1.5rem;
		border-bottom: 1px $purple solid;
		margin-bottom: 1rem;
	}

	h2 {
		font-size: 1.2rem;
		border-bottom: none;
	}

	ul {
		padding: initial;
		margin: 0 10px;
	}

	li {
		list-style-type: none;
	}
}

@include large {
	.sidebar__nav {
		ul {
			margin-left: 20px;
		}
		
		li {
			list-style-type: disc;
		}
	}
}

.window__body {
	padding: 0;
	overflow: hidden;
	border: $shadow-color solid 1px;
	background-color: $background-color;
	flex: 1 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}


a {
	text-decoration: none;
	background-color: #0000;
	padding: 0 2px;
	transition: 0.1s;
}

a:link {
	color: $yellow;
}

a:visited {
	color: $yellow;
}

a:hover  {
	text-decoration: underline;
}

a:active {
	color: $purple;
}

.window__text {
	padding: 20px 30px;
	flex: 2 1 auto;
	transition: 0.3s ease;
	overflow-y: visible;
}

@include large {
	.window__text {
		overflow-y: scroll;
	}
}

blockquote {
	padding: 0 1rem;
	color: $text-color;
	border-left: 0.3rem solid $purple;
	margin-left: 1rem;

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

img {
	max-width: 100%;
}

.main-sidebar {
	display: flex;
	width: 100%;
	min-height: 110px;
	height: 120px;
	flex: 0 0 auto;
	box-sizing: border-box;
	gap: 15px;
	flex-direction: row;
	overflow: hidden;
	transition: 0.3s;
}

.main-sidebar--hidden {
	min-height: 0;
	height: 0;
	margin-bottom: -25px;
}

@include medium {
	.main-sidebar {
		padding: 1rem 0;
		width: max-content;
		flex-direction: column;
		height: 100%;
		gap: 5px;
	}
}

.desktop-icon {
	text-align: center;
	cursor: default;
	padding: 5px 10px;
	height: 100%;
	max-height: 120px;
	width: max-content;
	border-radius: 3px;
	transition: 0.1s;
	text-decoration: none;
	border: 1.5px transparent solid;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	&:link, &:visited {
		color: $text-color;
	}
	
	img {
		// turn black svg into purple svg
		// generated using https://codepen.io/sosuke/pen/Pjoqqp
		filter: invert(31%) sepia(17%) saturate(1746%) hue-rotate(219deg) brightness(90%) contrast(82%);
		width: 50px;
		flex: 1;
		transition: 0.1s;
		margin-top: 2px;
	}

	figcaption {
		flex: 0;
	}
}

.desktop-icon:hover {
	cursor: pointer;
	text-decoration: none;
	border-color: $purple-dimmed;
}